body {
    color: black;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

#main-logo{
    color: rgb(71, 109, 179);
    align-items: center;
    font-size: 30px;
}

#inpbox{
    padding-left: 20px;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top:-200px;
    margin-right: 10px;
    max-width: 50vw;
    min-width: 600px;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buttons{
    justify-content: center;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}

#search-button{
    justify-content: center;
    align-items: center;
    size: fit-content;
    background-color: rgb(210 210 210);
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

#lucky-button{
    justify-content: center;
    align-items: center;
    size: fit-content;
    background-color: rgb(210 210 210);
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

#more_page{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    gap: 25px;
}

#page_name{
    margin-left: 100px;
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(210 210 210);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: underline;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: rgb(71, 109, 179);
    font-weight: bold;
}
